<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Local Background Image</title>
  <style>
    body {
      background-image: url('background nina.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
      color: black;
      font-family:{ font-family: "Papyrus", fantasy; }
      text-align: center;
      padding-top: 0px;
    }
  </style>
</head>