<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio - Nur Hanina Johar</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url('wallp.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      padding: 0;
      color: black;
      text-align: center;
    }

    .nav-container {
  background-color: rgba(255, 255, 255, 0.85);
  max-width: 900px;
  margin:auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

        h2 {
      animation: zoomIn 1s ease forwards;
      transform-origin: center;
      opacity: 0; /* Start hidden until animation */
    }

    @keyframes zoomIn {
      0% {
        transform: scale(0.5);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    h2 {
      color: #2c3e50;
    }

    .portfolio-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      max-width: 1000px;
      margin: 10px auto;
      padding: 10 20px;
    }

    .project-card {
      background-color: #fff;
      padding: 1px;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .project-card img {
      width: 100%;
      border-radius: 8px;
    }

    .project-title {
      font-weight: bold;
      margin-top: 0px;
      color: #34495e;
    }

    .project-description {
      font-size: 14px;
      color: #666;
      margin-top: 5px;
    }

    .footer-menu {
      font-size: 20px;
      animation: bounce 0s infinite;
      text-align: center;
      padding: 10px 0;
    }

    .footer-menu a {
      text-decoration: none;
      color: black;
      margin: 0 8px;
      font-weight: bold;
    }

    .footer-menu a:hover {
      color: #3498db;
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-15px);
      }
      60% {
        transform: translateY(-7px);
      }
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 50px;
      border-radius: 20px;
      background-image: url('border.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 40px;
    }

    .back-home {
      margin-top: 20px;
      display: inline-block;
    }
  </style>
</head>